body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  ol, ul {
    padding-left: 1.5vw;
    display: flex;
  }

  .game-info button{
    font-size: 20px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .game-board{
    outline: 20px solid white;
    box-sizing: border-box;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 15vh;
    height: 20vh;
    margin: -1px;
    padding: 0;
    text-align: center;
    width: 10vw;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
    flex-direction: row;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .sort-button{
    margin-left: 1.5vw;
  }
  